<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>タスク管理</title>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/style/style.css}">
</head>

<body>
    <h1>タスク一覧</h1>

    <ul class="task-list">
        <li th:each="task : ${tasks}" class="task-item">
            
            <!-- List（既存タスク） -->
            <div>
                <s th:if="${task.completed}">
                    <span th:text="${task.title}" class="task-title"></span>
                </s>
                <span th:if="${!task.completed}" th:text="${task.title}" class="task-title"></span>

                <p th:if="${task.description != null && !task.description.isEmpty()}" th:text="${task.description}" class="task-description">
                </p>
            </div>
            <div class="task-actions">
                
                <form th:if="${!task.completed}" th:action="@{/tasks/{id}/complete(id=${task.id})}" method="post">
                    <button type="submit" class="btn btn-complete">完了</button>
                </form>

                <form th:action="@{/tasks/{id}/delete(id=${task.id})}" method="post">
                    <button type="submit" class="btn btn-delete">削除</button>
                </form>

            </div>

        </li>
    </ul>

    <p th:if="${tasks.isEmpty()}">
        タスクはまだありません。
    </p>

    <hr>
    <h2>新しいタスクの追加</h2>

    <form th:action="@{/tasks/create}" method="post" class="form-add">
        <div>
            <label>タスク名:</label>
            <input type="text" name="title" required>
        </div>
        <div>
            <label>メモ:</label>
            <textarea name="description" rows="3" cols="40"></textarea>
        </div>
        <button type="submit" class="btn">追加</button>
    </form>

    <!-- js -->
    <script th:src="@{/js/main.js}"></script>
</body>

</html>